; begin auth token
//pkgs.dev.azure.com/andrejsmith85/_packaging/andrejsmith85/npm/registry/:username=andrejsmith85
//pkgs.dev.azure.com/andrejsmith85/_packaging/andrejsmith85/npm/registry/:_password=[a3JjN3I1eDJsc3JsaW9nendudjVjdXdqc3RkaXFmZnRhbWh3djRwbHZjdDQ3ZHFvY3VocQ==]
//pkgs.dev.azure.com/andrejsmith85/_packaging/andrejsmith85/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/andrejsmith85/_packaging/andrejsmith85/npm/:username=andrejsmith85
//pkgs.dev.azure.com/andrejsmith85/_packaging/andrejsmith85/npm/:_password=[a3JjN3I1eDJsc3JsaW9nendudjVjdXdqc3RkaXFmZnRhbWh3djRwbHZjdDQ3ZHFvY3VocQ==]
//pkgs.dev.azure.com/andrejsmith85/_packaging/andrejsmith85/npm/:email=npm requires email to be set but doesn't use the value
; end auth token 
