.Services{
    display:flex;
    justify-content: center;
    align-content: center;
    position:absolute;
    top:0;
    left:0;
    margin-top: 300px;
    margin-left: 50%;
    max-width: 100% !important;
    background-color: transparent !important;


}
/* .services-div{
    display:flex;
    justify-content: center;
    align-items: right;
    max-width: 100% !important;
    
} */
.listofServices{
    display:flex;
    width: 300px !important;
    align-items: flex-start;
    margin-top:50px;
    margin-left: 70%;
    white-space: nowrap;
    box-shadow: 1px 1px 10px 1px gray;
    
}
