.Services{
    display:flex;
    justify-content: center;
    align-content: center;
    background-color: transparent !important;
} 

.serviceCarousel{
    margin-top: 50px;
    width: 500px;
    height: 400px;
    object-fit: cover;
}
