.staffBackground {
    display: grid;
    position: absolute;
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
    column-gap: 200px;
    margin-top: 50px;
    margin-left: 350px;
    background-color:transparent;
    justify-content: center;
}

.Staff01 {
    position: relative;
    border-radius: 25px;
    border: 2px #999999;
    background: #00bf63;
    height:200px;
    width:500px;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 10px 1px gray;
}
.img-container {
    width: 50%; 
    height: 100%; 
    overflow:visible; 
    position: relative;  
}
.staff-pic {
    position: absolute; 
    left: -50%; 
    border: 1px black;
}
.staff-profile{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    width:100%;
}
.Staff02 {
    position: relative;
    border-radius: 25px;
    border: 2px #999999;
    background: #00bf63;
    height:200px;
    width:500px;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 10px 1px gray;
}
.Staff03 {
    position: relative;
    border-radius: 25px;
    border: 2px #999999;
    background: #00bf63;
    height:200px;
    width:500px;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 10px 1px gray;
}
.Staff04 {
    position: relative;
    border-radius: 25px;
    border: 2px #999999;
    background: #00bf63;
    height:200px;
    width:500px;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 10px 1px gray;
}
.Staff05 {
    position: relative;
    border-radius: 25px;
    border: 2px #999999;
    background: #00bf63;
    height:200px;
    width:500px;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 10px 1px gray;
}
.Staff06 {
    position: relative;
    border-radius: 25px;
    border: 2px #999999;
    background: #00bf63;
    height:200px;
    width:500px;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 10px 1px gray;
}