.custom-nav-bar {
    display: flex;
    flex-direction: row !important;
    justify-content: flex-end !important;
    border-top: 2px solid black;
    width:100%;
    margin-top: 100px;
    box-shadow: 1px 1px 10px 1px gray;
    background-color: white;
}
.custNavTest{
    width: 100% !important;
    margin:0;
}

.custom-navlinks {
    margin: 0;
    height: 0;
    top: 0%;
}

.passwordStyle{
    width: 300%; 
    margin: 0%;
}

.custom-btn-Login {
    background-color: #00bf63;
    border-color: #00bf63;
    width: 100px;
    height: 40px;
    margin: 0;
}
    .custom-btn-Login:hover {
        background-color: #01592f; 
        border-color:#01592f;
    }

    
.custom-btn-Logout {
    background-color: #00bf63;
    border-color: #00bf63;
    width: 100px;
    height: 40px;
    margin: 0;
}
    .custom-btn-Logout:hover {
        background-color: #01592f;
        border-color:#01592f;
    }

.custom-btn-Register {
    background-color: #00bf63;
    border-color: #00bf63;
    width: 100px;
    height: 40px;
    margin: 0;
}
    .custom-btn-Register:hover {
        background-color: #01592f;
        border-color:#01592f;
    }

.custom-btn-Profile {
    background-color: #00bf63;
    border-color: #00bf63;
    width: 100px;
    height: 40px;
    margin: 0;
}
    .custom-btn-Profile:hover {
        background-color: #01592f;
        border-color:#01592f;
    }

.custom-btn-Playdate {
    background-color: #00bf63;
    border-color: #00bf63;
    width: 100px;
    height: 40px;
    margin: 0;
}
    .custom-btn-Playdate:hover {
        background-color: #01592f;
        border-color:#01592f;
    }