
.pet-card {
    width: 100%;
    height: 100%;
}

.pet-image {
    max-width: 350px;
    max-height: 135px;
    object-fit: scale-down;
}
.pet-button {
    max-width: 75%;
    max-height: 100%;
    background-color: #00bf63;
    
}
    .pet-button:hover {
        max-width: 75%;
        max-height: 100%;
        background-color: #01592f;
    }