.dog-background {
    background-image: url('bernese1.jpg');
    background-size: cover
}

.cat-background {
    background-image: url('cat.jpg');
    background-size: cover
}

.both-background {
    background-image: url('Catdog.png');
    background-size: cover
}




